/* reset body padding és margin legyen border box*/
*,

*::before,

*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*nekünk tetsző szín, ami nem css alapszín*/

body {
	background-color: #196619;
}

/*beágyazni egy googlefontot, a legvastagabb (h1 tag) és a legvékonyabb (p tag)*/
/*mindekettő position fixed left: 50%, top 50% translate -50*/



h1 {
	font-family: 'Playfair Display', serif;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: rotate(0) translate(-50%, -50%);
	color: hsl(19, 88%, 14%);
	font-weight: 900;
}

p {
	font-family: 'Playfair Display', serif;
	position: fixed;
	top: 53%;
	left: 50%;
	transform: rotate(0) translate(-50%, -50%);
	color: hsl(19, 88%, 14%);
}

.clicked > p {
	position: absolute;
	animation: spinCounterClock 4s linear infinite;
	animation-direction: reverse;
  
}

@keyframes spinCounterClock {
	
	50% {
		transform: rotate(90deg) translate(-50%, -50%);
	}
	
	50% {
		transform: rotate(-90deg) translate(-50%, -50%);
	}
	
	
}


.clicked > h1 {
	position: absolute;
  animation: spinClock 4s linear infinite;  
}

@keyframes spinClock {

	0% {
		transform: rotate(0deg) translate(-50%, -50%);
	}

	50% {
		transform: rotate(90deg) translate(-50%, -50%);
	}
}

